<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCflMM5EFlE0eQ9XRrwMxF5ODfsxNfXvtE</string>
	<key>GCM_SENDER_ID</key>
	<string>336844734698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>asml.bkc.harvard.wallet</string>
	<key>PROJECT_ID</key>
	<string>hls-asml-identity-ba68</string>
	<key>STORAGE_BUCKET</key>
	<string>hls-asml-identity-ba68.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336844734698:ios:b14b9a72054f8629de5793</string>
</dict>
</plist>